<div class="container mx-auto px-4 py-8">
    <div class="mb-5 text-[18px] font-[600]">
        <h1>Historique des achats</h1>
        <hr>
    </div>

    <div class="mt-10">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom d'utilisateur</th>
                    <th>Email</th>
                    <th>Rôle</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>john_doe</td>
                    <td>john.doe@example.com</td>
                    <td>Administrateur</td>
                    <td>
                        <button class="edit-btn">Modifier</button>
                        <button class="delete-btn">Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>jane_smith</td>
                    <td>jane.smith@example.com</td>
                    <td>Utilisateur</td>
                    <td>
                        <button class="edit-btn">Modifier</button>
                        <button class="delete-btn">Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>alice_jones</td>
                    <td>alice.jones@example.com</td>
                    <td>Modérateur</td>
                    <td>
                        <button class="edit-btn">Modifier</button>
                        <button class="delete-btn">Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>bob_brown</td>
                    <td>bob.brown@example.com</td>
                    <td>Utilisateur</td>
                    <td>
                        <button class="edit-btn">Modifier</button>
                        <button class="delete-btn">Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>charlie_white</td>
                    <td>charlie.white@example.com</td>
                    <td>Administrateur</td>
                    <td>
                        <button class="edit-btn">Modifier</button>
                        <button class="delete-btn">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>