*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 5;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

body{
    overflow-x: hidden;
}

a, a:active{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}

/* nav styles */

.is_active {
    color: #003169;
    border-bottom: 1px solid #003169;
}

.menu-icon {
    display: none;
}

.official-logo {
    width: 200px;
}

@media (max-width: 1000px) {
    .menu-icon {
        display: block;
    }

    .normal_menu,
    .logout-drodown,
    .new-logo {
        display: none;
    }
}

header {
    margin-bottom: 80px;
}

.first-child-nav {
    padding-left: 60px;
    padding-right: 60px;
}

@media (max-width: 450px) {
    .official-logo {
        width: 150px;
    }

    .first-child-nav {
        padding: 15px 20px;
    }

    .book-container-flex {
        justify-content: center;
    }
}